*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Andika', sans-serif;
}

image{
    width: 100%;
}

header{
    background-color: aquamarine;
}

ul{
   font-family: 'Andika', sans-serif;
   font-size: 1rem;
   text-decoration: none;
   list-style: none;
   justify-content: flex-end;
   gap: 50px;
   padding: 2em;

}

a{
    font-family: 'Andika', sans-serif;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 80%
}

.row{
    display: flex;
    justify-content: space-between;
}


.hero{
    background-image: url('images/flying-birds.jpg');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-size: cover;
    font-family: 'Andika', sans-serif;
    letter-spacing:20px ;
    font-size: 2rem;
    text-align: center;
    padding: 2.75em;
    height: 100vh;
    margin-bottom: 2em;
}

.hero > h3{
    margin-top: 2.5em;
    font-size: 1rem;
    letter-spacing: 2px;
}

.cta{
    font-size: 2.0rem;
    margin: 0 auto;
    text-align: center;
}

.cta-btn{
    margin-top: 4em;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding: 0.75em;
    background-color: aquamarine;
}

.cta-btn:hover{
    background-color: aqua;
    animation: shake 0.25s;
    animation-iteration-count: 2;
}

.instructions{
    margin-top: 8em;
  /* border: 2px solid green; */
  gap: 50px;
}

.birb-vegas{
    width: 90%;
    max-width: 1200px;
}

.instructions h2{
    font-size: 2.75em;
}

.instructions li{
    font-size: 1.05rem;
    padding: 1em;
}

.explanation{
    font-size: 1.5rem;
    padding: 2em;
    margin-bottom: 2em;
}

.bird-values{
    text-align: center;
    font-size:2.75rem;
    padding: 2.5em;
}

.content{
    margin-top: 2em;
}


.explanation-title{
    font-size: 2.75rem;
    margin-bottom: 1em;
   
}

.game-explanation{
    display: flex;
    justify-content: space-between;
}

.game-explanation h2{
    font-size: 2.5rem;
}

.game-explanation p{
    padding: 2em 0;
}

.parrot-img{
    max-width: 200px;
}

.flamingo-img{
    max-width: 200px;
}

.peacock-img{
    max-width: 200px;
    height: 42vh;
}





















@keyframes shake {
    to{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}