*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: cadetblue;
    background-image: url('images/betting-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

image{
    width: 100%;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 2rem;
}

 .slot-container{
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 2em;
    align-items: center;
    height: 30vh;
}

.head-content{
    color: white;
    padding: 1em;
}

#hero-title{
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}

#bet-display{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.game-container{
    padding: 4em;
}


.controls{
    display: flex;
    justify-content: center;
}

#bet-div{
    padding: 4em;
}

.button-container{
    margin-top: 2em;
    padding: 2em;
}


#bet-btn{
    font-family: 'Andika', sans-serif;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 1.20rem;
    padding: 0.5em;
    background-color: rgb(160, 147, 238);
}

#bet-btn:hover{
    background-color: rgb(236, 120, 240);
    animation: shake 0.25s;
    animation-iteration-count: 2;
}

#play-btn{
    font-family: 'Andika', sans-serif;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 1.20rem;
    padding: 0.5em;
    background-color: rgb(101, 197, 253);
}

#play-btn:hover{
    background-color: aqua;
    animation: shake 0.25s;
    animation-iteration-count: 2;
}

#cash-out-btn{
    font-family: 'Andika', sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 1.20rem;
    padding: 0.5em;
    background-color: rgb(184, 243, 95);
}

#cash-out-btn:hover{
    background-color: rgb(29, 241, 100);
    animation: shake 0.25s;
    animation-iteration-count: 2;
}

#replay-btn{
    font-family: 'Andika', sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.5em;
    background-color: rgb(101, 197, 253);
}

#replay-btn:hover{
    background-color: aqua;
    animation: shake 0.25s;
    animation-iteration-count: 2;
}

#respin-btn{
    font-family: 'Andika', sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.5em;
    background-color: rgb(245, 190, 11);
}

#respin-btn:hover{
    background-color: rgb(252, 215, 7);
    animation: shake 0.25s;
    animation-iteration-count: 2;
}

.slide{
    background-color: aqua;
    animation: slidein 1.25s;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
}


@keyframes slidein{
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-100px);
  }
  35%{
    transform: translateY(-350px);
  }
  50%{
    transform: translateY(-500px);
  }
  75%{
    transform: translateY(-750px);
  }
  100%{
    transform: translateY(-1000px);
  }
}

/* // give credit for this code // */
@keyframes shake {
    to{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.reel{
    background-color :gray;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    font-size: 5rem;
    max-width: 200px;
    width: 200px;
    height: 200vh;
} 

#scroll-text{
    display: flex;
    gap: 10px;
}

.hidden{
    display: none;
}

.show{
    display: flex;
}
